div {
    height: 712px;
    width: 712px;
    background: pink;
    margin: auto;
}

input {
    text-align: center;
    display: block;
    margin: 10px auto;
} 

label {
    display: block;
    margin: 10px;
    text-align: center;
}